@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1050px) {
  .navbar-nav {
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .navbar-brand {
    display: none;
  }
}
#titulo {
  color: #fff;
  text-align: center;
  padding: 30px;
  background-image: url(../img/uchucuta.jpg);
  font-family: "Bruno Ace", cursive;
  font-size: 22px;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav {
  padding: 10px 30px 10px 30px;
  background-color: rgb(48, 47, 47);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-family: "Bruno Ace", cursive;
  font-size: 22px;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-nav a {
  color: antiquewhite;
}

.logoUchucuta {
  height: 30%;
  width: 30%;
}

@media screen and (max-width: 600px) {
  .contactoHome .email {
    font-size: 4px;
  }
}
@media screen and (min-width: 1500px) {
  #parrafoHome p {
    font-size: 18px;
  }
}
/*foto de portada*/
#restaurant {
  padding: 10px;
  text-align: center;
}

.restaurant {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

/*reseña y foto*/
#parrafoHome {
  padding: 30px;
  font-size: 15px;
  font-family: "Bruno Ace", cursive;
  color: rgba(105, 105, 105, 0.813);
  text-align: center;
}
#parrafoHome p a {
  font-size: large;
  font-weight: bold;
}

#visitePeru {
  padding: 5px;
}

.peru {
  width: 100%;
  height: 100%;
}

/*horarios*/
.horariosHome {
  padding: 5px;
  font-size: 15px;
  font-family: "Bruno Ace", cursive;
  color: rgba(105, 105, 105, 0.813);
  text-align: center;
}
.horariosHome h2 {
  font-size: 22px;
}
.horariosHome p i {
  color: #2d2b2b;
  font-size: 20px;
}

/*mapa*/
.mapaHome {
  padding-bottom: 40px;
  text-align: center;
  opacity: 0.8;
}
.mapaHome:hover {
  opacity: 1.8;
}

/*contacto*/
.contactoHome {
  padding: 5px;
  font-size: 15px;
  font-family: "Bruno Ace", cursive;
  color: rgba(105, 105, 105, 0.813);
  text-align: center;
}
.contactoHome h2 {
  font-size: 22px;
}
.contactoHome p a {
  text-decoration: none;
  color: rgba(105, 105, 105, 0.813);
}
.contactoHome p a:hover {
  color: rgba(105, 105, 105, 0.813);
  text-decoration: underline;
}
.contactoHome p i {
  color: #2d2b2b;
  font-size: 20px;
}

.contactoHome .email {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

/*redes sociales*/
.redesHome {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Bruno Ace", cursive;
  color: rgba(105, 105, 105, 0.813);
  font-size: 15px;
  text-align: center;
}
.redesHome a {
  font-size: 50px;
  color: #2d2b2b;
  margin-right: 25px;
}
.redesHome .facebook:hover {
  color: rgb(109, 109, 255);
}
.redesHome .instagram:hover {
  color: #df8b42;
}
.redesHome .twitter:hover {
  color: #30a3bb;
}

/*whatsapp fixed*/
.chat {
  text-align: left;
  font-size: 50px;
}
.chat a {
  color: #2d2b2b;
  margin-left: 10px;
}
.chat .whatsapp:hover {
  color: rgb(177, 230, 124);
}

div.chat {
  position: fixed;
  top: 50%;
  z-index: 1;
}

/*button la carta*/
#laCarta {
  text-align: center;
  padding: 20px;
}
#laCarta a {
  font-size: large;
  font-weight: bold;
  font-family: "Bruno Ace", cursive;
}

/*párrafos y foto chef*/
@media screen and (min-width: 1400px) {
  #parrafo1SU p {
    font-size: 25px;
  }
}
#chef {
  padding: 5px;
  text-align: center;
}

.chef {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.logoUchucutaSU {
  height: 20%;
  width: 20%;
}

#parrafo1SU {
  font-size: 20px;
  padding: 35px;
  color: rgba(105, 105, 105, 0.813);
  font-family: "Bruno Ace", cursive;
  text-align: center;
}

#parrafo2SU {
  font-size: 17px;
  padding: 20px;
  color: rgba(40, 39, 39, 0.813);
  background: rgb(246, 242, 244);
  background: radial-gradient(circle, rgb(246, 242, 244) 68%, rgba(249, 188, 131, 0.4262079832) 93%);
  font-family: "Bruno Ace", cursive;
  text-align: center;
}

/*animación titulo del párrafo 1*/
#parrafo1SU h2 {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  padding: 10px;
}

@keyframes aparecer {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*videos*/
#sectionSU {
  text-align: center;
}
#sectionSU .tituloVideos h2 {
  font-family: "Bruno Ace", cursive;
  color: rgba(105, 105, 105, 0.813);
  padding: 30px;
}

.video1, .video2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
  .video1, .video2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  #fotosCarousel {
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .carousel-inner h4 {
    display: none;
  }
}
/*carousel*/
.carousel-inner {
  font-family: "Bruno Ace", cursive;
  color: rgba(105, 105, 105, 0.813);
}

/*carta*/
.piscoCarta {
  background-image: url(../img/pisco-sour-cocktail.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 10px;
}
.piscoCarta h2 {
  font-family: "Bruno Ace", cursive;
  font-size: 30px;
  color: antiquewhite;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
}
.piscoCarta #carta {
  text-align: center;
  font-family: "Bruno Ace", cursive;
  color: antiquewhite;
  font-size: 25px;
  padding: 20px;
  margin-top: 5px;
  list-style: none;
  height: 95%;
}
.piscoCarta #carta .platos li {
  font-size: 20px;
  list-style: none;
  color: antiquewhite;
}
.piscoCarta #carta .platos p {
  font-size: 13px;
}

/*button reservar*/
#reservar {
  text-align: center;
  padding: 20px;
}
#reservar a {
  font-size: large;
  font-weight: bold;
  font-family: "Bruno Ace", cursive;
}

/*formulario*/
#mainReservas {
  background-image: url(../img/fondoReservas.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}
#mainReservas form {
  width: 100%;
  padding: 25px;
  max-width: 500px;
  font-family: "Bruno Ace", cursive;
  color: antiquewhite;
  margin: auto;
  background-color: rgba(28, 28, 28, 0.813);
  border-radius: 4px;
  box-shadow: 7px 13px 37px #000;
  font-size: 15px;
}
#mainReservas form h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
}

.control {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.control2 {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 15px;
}

.buttonsForm {
  text-align: center;
}

/*importante*/
.parrafoReservas {
  font-family: "Bruno Ace", cursive;
  color: rgba(105, 105, 105, 0.813);
  text-align: center;
  font-size: 15px;
  padding: 10px;
  margin-top: 15px;
}
.parrafoReservas i {
  font-size: 40px;
  color: rgba(40, 39, 39, 0.813);
}
.parrafoReservas a {
  font-size: large;
  font-weight: bold;
  font-family: "Bruno Ace", cursive;
}
.parrafoReservas a:hover {
  font-weight: bolder;
}

@media screen and (max-width: 480px) {
  .parrafoContacto .email {
    font-size: 13px;
  }
}
/*datos de contacto*/
#mainContacto {
  background-image: url(../img/fondoContactanos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.parrafoContacto {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Bruno Ace", cursive;
  color: antiquewhite;
  text-align: center;
}
.parrafoContacto h2 {
  font-size: 28px;
}
.parrafoContacto p {
  font-size: 18px;
}
.parrafoContacto p i {
  font-size: 20px;
}
.parrafoContacto p a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 18px;
  font-family: "Bruno Ace", cursive;
}
.parrafoContacto p a:hover {
  color: gray;
  text-decoration: underline;
}

.parrafoContacto .email {
  font-family: "Times New Roman", Times, serif;
}

/*redes sociales*/
.redes {
  color: antiquewhite;
  font-size: 20px;
  text-align: center;
  font-family: "Bruno Ace", cursive;
  padding-bottom: 20px;
}
.redes a {
  color: antiquewhite;
  font-size: 50px;
  margin-right: 15px;
}
.redes .facebook:hover {
  color: rgb(109, 109, 255);
}
.redes .instagram:hover {
  color: #df8b42;
}
.redes .twitter:hover {
  color: #14606f;
}

/*accordion preguntas frecuentes*/
#accordionContacto {
  margin-top: 30px;
  padding: 30px;
}
#accordionContacto h2 {
  font-family: "Bruno Ace", cursive;
  padding: 30px;
  color: rgba(105, 105, 105, 0.813);
  text-align: center;
  font-size: 25px;
}
#accordionContacto .accordion-item {
  font-family: "Bruno Ace", cursive;
  font-size: 15px;
  color: rgba(105, 105, 105, 0.813);
}

/*estilos de enlace interno*/
.inicio {
  text-decoration: none;
  color: rgba(105, 105, 105, 0.813);
  font-family: "Bruno Ace", cursive;
  text-align: right;
  font-size: 20px;
  padding-top: 20px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  padding: 10px;
}
.inicio:hover {
  text-decoration: underline;
  font-weight: bold;
}

#footer {
  color: #fff;
  background-image: url(../img/uchucuta.jpg);
  text-align: center;
  padding: 10px;
  font-family: "Bruno Ace", cursive;
  /*estilos de sitemap*/
  /*redes sociales*/
}
#footer h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
#footer .liFooter, #footer .liMap {
  list-style: none;
}
#footer .liFooter a, #footer .liMap a {
  font-size: 15px;
  color: #fff;
  margin-bottom: 2px;
  text-decoration: none;
}
#footer .liFooter a:hover, #footer .liMap a:hover {
  font-weight: bold;
  color: gray;
  text-decoration: underline;
}
#footer .redesFooter {
  padding-top: 5px;
}
#footer .redesFooter a {
  font-size: 30px;
  color: #fff;
  margin-right: 15px;
}
#footer .redesFooter .faceFooter:hover {
  color: rgb(109, 109, 255);
}
#footer .redesFooter .instaFooter:hover {
  color: #df8b42;
}
#footer .redesFooter .twitFooter:hover {
  color: #30a3bb;
}
#footer p {
  font-size: 12px;
}

/*# sourceMappingURL=estilos.css.map */
