@import "variables";
@media screen and (max-width: 480px){
    .parrafoContacto{
        .email{
            font-size: 10px
        } 
    }
}
/*datos de contacto*/
#mainContacto{
    background-image: url(https://media.gettyimages.com/id/974561258/es/foto/majestic-mountain-landscape-machu-picchu-peru.jpg?s=612x612&w=0&k=20&c=Hla8E6jJNBl3D9XN13Xuzh0MgS1PbA0pTd-V9Nz13mI=);
    background-repeat: no-repeat;
    background-size: cover;
}
.parrafoContacto{
    font-family: $fontProject;
    color: $colorFont2;
    text-align: center;
    padding: 70px;
    h2{
        font-size: 25px;
    }
    p{
        i{
            font-size: 20px;
        }
        a{
            text-decoration: none;
            color: $colorFont2;
            font-size: 15px;
            font-family: $fontProject;
                &:hover{
                    color: gray;
                    font-weight: bolder;
                    text-decoration: underline;
                }
        }
    }
}
.parrafoContacto{
    .email{
        font-family: $fontProject2;
    }
}
/*redes sociales*/
.redes{
    color: $colorFont2;
    font-size: 20px;
    text-align: center;
    font-family: $fontProject;
    padding-bottom: 20px;
    a{
        color: $colorFont2;
        font-size: 50px;
        margin-right: 15px;
    }
    .facebook{
        &:hover{
            color: rgb(109, 109, 255);
            }
    }
    .instagram{
        &:hover{
            color: #df8b42;
            }
    }
    .twitter{
        &:hover{
            color: #14606f;
            }
    }
} 
/*accordion preguntas frecuentes*/
#accordionContacto{
    margin-top: 30px;
    padding: 30px;
    h2{
        font-family: $fontProject;
        padding: 30px;
        color: $colorFont1;
        text-align: center;
        font-size: 25px
    }
    .accordion-item{
        font-family: $fontProject;
        font-size: 15px;
        color: $colorFont1;
    }
}


