@import "variables";
@media screen and (max-width: 480px){
    .parrafoContacto{
        .email{
            font-size: 13px
        } 
    }
}
/*datos de contacto*/
#mainContacto{
    background-image: url(../img/fondoContactanos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.parrafoContacto{
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: $fontProject;
    color: $colorFont2;
    text-align: center;
    h2{
        font-size: 28px;
    }
    p{
        font-size: 18px;
        i{
            font-size: 20px;
        }
        a{
            text-decoration: none;
            color: $colorFont2;
            font-size: 18px;
            font-family: $fontProject;
                &:hover{
                    color: gray;
                    text-decoration: underline;
                }
        }
    }
}
.parrafoContacto{
    .email{
        font-family: $fontProject2;
    }
}
/*redes sociales*/
.redes{
    color: $colorFont2;
    font-size: 20px;
    text-align: center;
    font-family: $fontProject;
    padding-bottom: 20px;
    a{
        color: $colorFont2;
        font-size: 50px;
        margin-right: 15px;
    }
    .facebook{
        &:hover{
            color: rgb(109, 109, 255);
            }
    }
    .instagram{
        &:hover{
            color: #df8b42;
            }
    }
    .twitter{
        &:hover{
            color: #14606f;
            }
    }
} 
/*accordion preguntas frecuentes*/
#accordionContacto{
    margin-top: 30px;
    padding: 30px;
    h2{
        font-family: $fontProject;
        padding: 30px;
        color: $colorFont1;
        text-align: center;
        font-size: 25px
    }
    .accordion-item{
        font-family: $fontProject;
        font-size: 15px;
        color: $colorFont1;
    }
}


