@import "variables";
/*estilos de enlace interno*/
.inicio{
    text-decoration: none;
    color: $colorFont1;
    font-family: $fontProject;
    text-align: right;
    font-size: 20px;
    padding-top: 20px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    padding: 10px;
    &:hover{
        text-decoration: underline;
        font-weight: bold;
    }
}
#footer{
    color: #fff;
    background-image: url(../img/uchucuta.jpg);
    text-align: center;
    padding: 10px;
    font-family: $fontProject;
    h3{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .liFooter{
        list-style: none;
        a{
            font-size: 15px;
            color: #fff;
            margin-bottom: 2px;
            text-decoration: none;
                &:hover{
                    font-weight: bold;
                    color: gray;
                    text-decoration: underline;
                }
        }
    }
    /*estilos de sitemap*/
    .liMap{
        @extend .liFooter;
    }
    /*redes sociales*/
    .redesFooter{
        padding-top: 5px;
            a{
                font-size: 30px;
                color: #fff;
                margin-right: 15px;
            }
            .faceFooter{
                &:hover{
                    color: rgb(109, 109, 255);
                    }
            }
            .instaFooter{
                &:hover{
                    color: #df8b42;
                    }
            }
            .twitFooter{
                &:hover{
                    color: #30a3bb;
                    }
            }
    }
    p{
        font-size: 12px;
    }
}



