@import "variables";
/*párrafos y foto chef*/
@media screen and (min-width: 1400px){
    #parrafo1SU{
        p{
            font-size: 25px;
        }
    }
}
@mixin styleTextSU{
    font-family: $fontProject;
    text-align: center;
}
#chef{
    padding: 5px;
    text-align: center;
}
.chef{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.logoUchucutaSU{
    height: 20%;
    width: 20%;
}
#parrafo1SU{
    font-size: 20px;
    padding: 35px;
    color: $colorFont1;
    @include styleTextSU();
}
#parrafo2SU{
    font-size: 17px;
    padding: 20px;
    color: rgba(40, 39, 39, 0.813);
    background: rgb(246,242,244);
    background: radial-gradient(circle, rgba(246,242,244,1) 68%, rgba(249,188,131,0.42620798319327735) 93%);
    @include styleTextSU();
}
/*animación titulo del párrafo 1*/
#parrafo1SU{
    h2{
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    padding: 10px;
    }
}
@keyframes aparecer {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
/*videos*/
#sectionSU{
    text-align: center;
    .tituloVideos{
        h2{
            font-family: $fontProject;
            color: $colorFont1;
            padding: 30px;
        }
    }
}
.video1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.video2{
    @extend .video1;
}
@media screen and (max-width: 1000px){
    .video1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .video2{
        @extend .video1;
    }
}





