$fontProject: 'Bruno Ace', cursive;
$colorFont1: rgba(105, 105, 105, 0.813);
$fontProject2:'Times New Roman', Times, serif;
$colorFont2: antiquewhite;
$colorFont3: rgba(40, 39, 39, 0.813);
$redesSociales: #2d2b2b;

